<html>
  <head>
    <script>
      async function updateLampState() {
        const currentStateDiv = document.getElementById("lamp-state");
        const url = "{{ token }}/state";
        const response = await fetch(url);
        const state = await response.json();
        let newCurrentStateDescription = "";
        if (!state.active) {
          newCurrentStateDescription = "The One Lamp is DISCONNECTED<br />";
        } else if (state.state) {
          newCurrentStateDescription =
            "The One Lamp is CONNECTED<br />The One Lamp is ON";
        } else {
          newCurrentStateDescription =
            "The One Lamp is CONNECTED<br />The One Lamp is OFF";
        }
        currentStateDiv.innerHTML = newCurrentStateDescription;
      }
      setInterval(updateLampState, 1000);

      async function updateHeartsState() {
        const currentStateDiv = document.getElementById("hearts-state");
        const url = "{{ token }}/hearts";
        const response = await fetch(url);
        const state = await response.json();
        let newCurrentStateDescription = "";
        if (state.count == 0) {
          newCurrentStateDescription = "No hearts yet 😊";
        } else {
          newCurrentStateDescription = `There's ${state.count} ❤️ waiting for you!`;
        }
        currentStateDiv.innerHTML = newCurrentStateDescription;
      }
      setInterval(updateHeartsState, 1000);

      function configureChangeLampStateButton() {
        const button = document.getElementById("change-lamp-state-button");

        button.addEventListener("click", function () {
          const url = "{{ token }}/state/toggle";
          fetch(url, { method: "POST" })
            .then(function (result) {
              updateLampState();
            })
            .catch(function (err) {
              console.error(err);
            });
        });
      }

      function configureClaimHeartsButton() {
        const button = document.getElementById("claim-hearts-button");

        button.addEventListener("click", function () {
          const url = "{{ token }}/hearts/clear";
          fetch(url, { method: "POST" })
            .then(function (result) {
              updateHeartsState();
            })
            .catch(function (err) {
              console.error(err);
            });
        });
      }

      window.onload = () => {
        configureChangeLampStateButton();
        configureClaimHeartsButton();
      };
    </script>
  </head>
  <body>
    <h1>Welcome {{user}}!</h1>
    <div id="lamp-state"><br /></div>
    <br />
    <button id="change-lamp-state-button">Change Lamp State</button>
    <br /><br /><br />
    <div id="hearts-state"><br /></div>
    <br />
    <button id="claim-hearts-button">Claim hearts</button>
  </body>
</html>
